body {
  /* width: 100vw; */
  height: 100vh;
  margin: 0;
  /* background: black; */
  overflow: hidden;
  position: relative;
  align-items: center ;
  justify-content: center;
}
/* .song-button {
  background-color: red;
  opacity: 100;
}

.song {
  position: relative;
  z-index: 1;
  background-color:transparent;
  opacity: 100;
} */

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  position: absolute;
  top:0;
  left:0;
  z-index:-99;
}
.login-div {
  max-width: 430px;
  padding: 35px;
  border-radius: 15px;
  color:white;
  /* background: rgba(8,8,8,0.7); */
  /* box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5); */
}
.logo {
  width:100px;
  height:100px;
  border-radius: 50%;
  margin:0 auto;
}

player {
     max-width: 430px;
  padding: 35px;
  border-radius: 15px;
  color:white;
  /* background: rgba(8,8,8,0.7); */
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.alive {
  color : white;
  font-weight: bolder;
  font-size: 70px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.portal {
    color : white;
  font-weight: bolder;
  font-size: 70px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.logo {

    animation: opacity 2s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}

#player-container #play-pause {
      position: absolute;
    top: 10px;
    left: 0px;
  position: absolute;
  cursor: pointer;
  text-indent: -999999px;
  height: 40px;
  width: 40px;
  background: transparent;
  background-image: url("http://basichow.com/asserts/images/play.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  /* align-self: start; */
}
.play {
  background-image: url("http://basichow.com/asserts/images/play.png");
}
.pause {
  background-image: url("http://basichow.com/asserts/images/pause.png") !important;
}

#back-container #back {
      position: absolute;
    top: 10px;
    right: 40px;
  position: absolute;
  cursor: pointer;
  text-indent: -999999px;
  height: 40px;
  width: 40px;
  background: transparent;
  background-image: url("arrow-88-16.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  /* align-self: start; */
}

#forward-container #forward {
      position: absolute;
    top: 10px;
    right: 20px;
  position: absolute;
  cursor: pointer;
  text-indent: -999999px;
  height: 40px;
  width: 40px;
  background: transparent;
  background-image: url("forward.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  /* align-self: start; */
}

@import url(https://fonts.googleapis.com/css?family=Cantarell:400,400italic,700italic,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
.all-modal-stylying {
  padding:0;
  margin:0;
  position:relative;
  box-sizing:border-box; 
  -webkit-font-smoothing: subpixel-antialiased !important; 
  -webkit-backface-visibility: hidden; 
}

p {
  margin-bottom:1em;
}

a.modal-open {
  top: 10px;
    right: 40px;
    position: absolute;
  /* display:block; */
  /* padding:20px; */
  color: white;
  font-weight: bolder;
  /* font-weight:bold; */
  /* margin:50px auto; */
  /* width:200px; */
  /* background:#e0e0e0; */
  /* border-radius:2px; */
  /* text-align:center; */
  text-decoration:none;
  font-size: 35px;

}
.modal {
  
  background:rgba(0,0,0,0.7);
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  bottom:0px;
  transition:all .5s ease-in-out;
  opacity:0;
  z-index:-1;
}
.modal:target {
  opacity:1;
  transition:all .5s ease-in-out;
  z-index:+1;
}
.modal-content {
  position:fixed;
  top:50%;
  left:50%;
  width:500px;
  background:#fff;
  border-radius:4px;
  transform:translate(-50%, -200%);
  transition:all .5s ease-in-out;
  perspective: 1000;
  outline:1px solid transparent;
  opacity:0;
}
.modal:target .modal-content {
  transform:translate(-50%, -50%);
  transition:all .5s ease-in-out;
  transition-delay:.5s;
  z-index:9999;
  opacity:1;
}
.modal-close {
  float:right;
  text-decoration:none;
  /* padding:22px 22px; */
  color:#424242;
  font-weight:800;
  transition:all .5s ease-in-out;
  z-index:+1;
  /* background:rgba(0,0,0,0.1); */
  text-align:center;
  border-radius:0 4px 0 0;
}
.modal-close:hover {
  /* color:#fff;
  background:rgba(0,0,0,0.5); */
}
.modal-content h3 {
  
  /* padding: 5px; */
  display:block;
  text-align:center;
  /* border-bottom:1px solid #e0e0e0; */
  text-transform:uppercase;
  color:#424242;
  font-weight: 900;
  /* background:rgba(2,162,239,1); */
  /* color:#fff; */
  border-radius:4px 4px 0 0;
}
.modal-area {
  padding:20px;
  color:#424242;
}

.modal-area input[type="radio"] {
  display:none;
}
.modal-area label {
  float:left;
  display:block;
  padding:10px 20px;
  font-weight:700;
  cursor:pointer;
  z-index:+2;
  background:rgba(0,0,0,.3);
  color:#fff;
  transition:all .5s ease-in-out;
}

.about-container {
  position: absolute;
    top: 0px;
    right: 150px;
  position: absolute;
}

#home-container #home {
      position: absolute;
    top: 10px;
    left: 100px;
  position: absolute;
  cursor: pointer;
  text-indent: -999999px;
  height: 40px;
  width: 40px;
  background: white;
  background-image: url("https://img.icons8.com/wired/50/000000/home.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  border-radius: 14em;
  /* align-self: start; */
}
